
:root{
    --c-dark: #181515;
    --c-brand: #7E0814;
    --c-brand-light: #a11a1a;
    --c-brand-second: #FFE116;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #2b2b2b;
    --font-base: "Potta One", sans-serif;
    --font-secondary: "Raleway", sans-serif;
    --box-shadow: 0px 15px 25px rgba( 0, 0, 0, 0, 0.8);
    --transition: all 0.5s ease;
    --c-fw: #f8f7f4;

}

body {
    font-family: var(--font-base) ;
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2 
.h1, .h2 {
    font-family: var(--font-base);
    font-weight: 900;
}

h3, h4, h5, h6,
.h3 .h4 .h5 .h6{
    font-family: var(--font-secondary) ;
}

a{
    text-decoration: none ;
    color: var(--c-brand) ;
    transition: var(--transition);
}

a:hover{
    color: var(--c-brand-light);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;

}

/* NAVBAR */
.navbar{
    box-shadow: var(--box-shadow) ;
}
.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-fw);
    padding-right: 50px;
}

.navbar-nav .nav-link.active{

    color: var(--c-brand);
}
.logo2 {
    width: auto; 
    height: 50; 
  }
.bg-custom{
    background-color: var(--c-dark);
}

/* BTN */
.btn-custom{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0 ;
    padding: 15px 24px ;
    margin-top: 30px;
}

.btn-brand{
    background-color: var(--c-brand);
    color: var(--c-fw) ;
}

.btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: var(--c-fw);

}

/*Land*/
#land {
    background: url('../images/Group 18.png') no-repeat center center/cover;
    height: 100vh;
}

h1 {
    margin-bottom: 0; 
    text-align: center; 
    margin-top: 0; 
}
  
h6 {
    margin-top: 20px; 
    margin-bottom: 20px; 
    text-align: center; 
}

.logopage {
    width: 40%;
    height: auto;
    margin: 0 auto; 
}

.crave {
    font-size: 5em; 
    background-image: -webkit-linear-gradient(0deg, #af1729 3%, #D23140 15%, #af1729 30%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.satisfy {
    font-size: 2em; 
    background-image: -webkit-linear-gradient(0deg, #f1e423 4%, #EBD014 15%, #f1e423 74%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}

.eat, .spend {
    text-align: center; 
    margin-top: 20px; 
}


@media (max-width: 768px) {
    .logopage {
        width: 70%; 
    }

    .crave {
        font-size: 3em; 
    }

    #land {
        background: url('../images/Group 18.png') no-repeat center center/cover;
        height: 60%; 
    }
}



/*MENU*/
#food-menu {
    background-image: url('../images/Group 101.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
  }
  
  .menu-section {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--c-fw); 
    text-align: center;
    padding: 50px 0;
  }
  
  .menu-title {
    font-size: 3em; 
    margin-top: 0;
    margin-bottom: 40px; 
    font-family: var(--font-base);
  }
  
  .menu-item img {
    width: 100%; 
    max-width: 270px; 
    height: auto;
    border-radius: 10px;
  }
  
  .menu-items {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
  
  .rm, .sn, .dr {
    margin-top: 10px;
    font-weight: normal;
    font-size: 1.2em; 
    color:var(--c-fw); 
  }
  


/*FOOTER*/
#footer {
    background-color: var(--c-dark); 
    color: #fff; 
  }
  
#footer .nav-link {
    color: #bbb; 
  }
  
#footer .nav-link:hover {
    color:var(--c-fw);
  }
  
#footer .text-center {
    font-family: var(--font-secondary);
    color: #d8d8d8; 
  }
  
#footer .nav {
    border-bottom: 1px solid #444;
}
  
#footer .container {
    padding: 1% 0; 
  }

#footer .footer-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#footer .footer-logo img {
    max-width: auto; 
    height: 30px; 
}
  
/*SELECT*/
#selection {
    background: url('../images/Group 19.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    justify-content: center; 
    align-items: center; 
}
.form-group{
    margin: 20px;
    padding-top: 0px ;
    font-family: var(--font-base);
    font-style: normal;
    color: var(--c-fw);
    font-size: 50px;

}
.form-group label {
    text-align: center; 
    display: block; 

}
.input-group {
    width: 300px; 
    margin: 0 auto;
    
}
.buttonselect {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px 0;

}
.buttonselect button {
    flex: 1 1 auto; 
    max-width: 200px; 
}


/*BUTTONS*/
.btn{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0 ;
    padding: 15px 24px ;
    margin: 20px;
    border-radius: 6px;
}

.btn-brand{
    background-color: var(--c-brand);
    color: var(--c-fw) ;
}

.btn-brand:hover{
    background-color: var(--c-brand-second);
    border-color: var(--c-brand-light);
    color: var(--c-body);

}

.breadcrumb{
    background-color: var(--c-fw);
    margin-bottom: 0px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap; 
    padding: 8px 15px; 


}

.breadcrumb-item{
    color: #f1e423;
    margin-right: 5px; 
    list-style: none; 
    
}

/*SELECTED SECTION*/
#selected-section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 

}

.category-section {
    flex: 1 1 200px; 
    margin-bottom: 20px; 
    padding: 15px; 
    border-radius: 5px; 
    background-color: #311e1e;
    color: var(--c-fw);
    text-align: left; 

}

.category-section h4 {
    font-family: var(--font-base);
    font-size: 24px;
    margin-bottom: 10px;
}
.category-section label{
    font-family: var(--font-secondary);
    font-size: 18px;
}


